<template name="frameworkHome">
	
  <section class="content admin record_types">
    <div class="box box-widget">
            <div class="box-header with-border">
              <h3 class="box-title">Welcome</h3>

              <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
                </div>
            </div>
            <div class="box-body" style="display: block;">
              
            </div>
        </div>
  </section>

</template>